<div class="top-footer">
    <div class="footer-item">
        <div class="top-left">
            <a href=""><img src="https://pubcdn2.ivymoda.com/images/logo-footer.png" alt=""></a>
            <a href=""><img
                    src="https://images.dmca.com/Badges/dmca_protected_16_120.png?ID=0cfdeac4-6e7f-4fca-941f-57a0a0962777"
                    alt=""></a>
            <a href=""><img src="https://pubcdn2.ivymoda.com/images/img-congthuong.png" alt=""></a>
        </div>
        <div class="info">
            <p>Công ty Cổ phần Dự Kim với số đăng ký kinh doanh: 0105777650</p>
            <p><b>Địa chỉ đăng ký:</b> Tổ dân phố Tháp, P.Đại Mỗ, Q.Nam Từ Liêm, TP.Hà Nội, Việt Nam</p>
            <p><b>Số điện thoại:</b> 0243 205 2222</p>
        </div>
        <div class="socials">
            <div class="social-logo"><a href="https://www.facebook.com/honggha75"><img src="https://pubcdn2.ivymoda.com/images/ic_fb.svg" alt=""></a></div>
            <div class="social-logo"><img src="https://pubcdn2.ivymoda.com/images/ic_gg.svg" alt=""></div>
            <div class="social-logo"><a href="https://www.instagram.com/hongg.ha_02/"><img src="https://pubcdn2.ivymoda.com/images/ic_instagram.svg" alt=""></a></div>
            <div class="social-logo"><img src="https://pubcdn2.ivymoda.com/images/ic_pinterest.svg" alt=""></div>
            <div class="social-logo"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"><img src="https://pubcdn2.ivymoda.com/images/ic_ytb.svg" alt=""></a></div>
        </div>
        <div class="hotline">
            <span>HOTLINE: <a href="tel:0246 662 3434">0246 662 3434</a></span>
        </div>
    </div>
    <div class="footer-item">
        <h3>Introduce</h3>
        <div class="info">
            <p><a href="">About us</a></p>
            <p><a href="">Recruit</a></p>
            <p><a href="">Store</a></p>
        </div>
    </div>
    <div class="footer-item">
        <h3>Service</h3>
        <div class="info">
            <p>Account Policy</p>
            <p>Shopping guide</p>
            <p>Payment policy</p>
            <p>Refund Policy</p>
            <p>Warranty Policy</p>
            <p>Shipping policy</p>
        </div>
    </div>
    <div class="footer-item">
        <h3>Contact us</h3>
        <div class="info">
            <p><a href="">Hotline</a></p>
            <p><a href="">Email</a></p>
            <p><a href="">Live Chat</a></p>
            <p><a href="">Messenger</a></p>
            <p><a href="">Contact</a></p>
        </div>
    </div>
    <div class="footer-item">
        <div class="register-form">
            <h3>Get information about the programs of us</h3>
            <form action="" >
                <input type="text" placeholder="Enter your Name" name="uName">
                <button type="submit">Apply</button>
            </form>
        </div>
        <div class="calendar">
            <div class=" cal-item" id="year"></div>
            <div class=" cal-item" id="month"></div>
            <div class=" cal-item" id="day"></div>
            <div class=" cal-item" id="hour"></div>
            <div class=" cal-item" id="minutes"></div>
        </div>
    </div>
</div>
<div class="bottom-footer">
    &copy;Ivymuda All right reserved
</div>