
        <div class="main-menu">
            <ul>
                <li class="menu-item">Boy</li>
                <li class="menu-item">Girl</li>
                <li class="menu-item">Products
                    <div class="sub-menu">
                    
                </div>
            </li>
                
                <li class="menu-item">About Us</li>

            </ul>
        </div>
        <div class="logo">
                <img src="https://pubcdn2.ivymoda.com/images/logo.png" alt="logo" onclick="goHome()">
        </div>
        <div class="search">
            <form action="" method="get">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Search Product">
            </form>
        </div>
        <div class="header-actions">
            <ul>
                <li><a href="tel:09888888888"><i class="fa-solid fa-headphones text-black"></i></a></li>
                <li><a href=""><i class="fa-solid fa-user"></i></a></li>
                <li><a href=""><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>