
        <div class="main-menu">
            <ul>
                <li class="menu-item" onclick="goToGender('boy')">Boy</li>
                <li class="menu-item" onclick="goToGender('girl')">Girl</li>
                <li class="menu-item" ><span onclick="goToPs()">Product</span>
                    <div class="sub-menu">
                    
                </div>
            </li>
                
                <li class="menu-item">About Us</li>

            </ul>
        </div>
        <div class="logo">
                <img src="../img/logo/logo.png" alt="logo" onclick="goHome()">
        </div>
        <div class="search">
            <form action="../Product/product.html" method="get" id="searchForm">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Search Product" name="search">
            </form>
        </div>
        <div class="header-actions">
            <ul>
                <li><a href="tel:09888888888"><i class="fa-solid fa-headphones text-black"></i></a></li>
                <li><a href=""><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li class="uName"></li>
            </ul>
        </div>