/*@import url('https://fonts.googleapis.com/css2?family=Joan&family=Montserrat:ital,wght@0,200;1,100&family=Open+Sans:ital,wght@0,600;1,300&family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1380px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
}